/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --border-color: #D9D9D9;
    --white: #ffffff;
}
.fa-solid { color: var(--main-color); }

html, body {
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.para-16px {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  padding: 0;
}

.m-0 {
  margin: 0;
}

.m-bot-16 {
  margin-bottom: 16px;
}

.cover {
  object-fit: cover;
}

.card {
  background-color: var(--white);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
  padding-left: 0px;
}

.neutral-star {
  color: var(--main-bg-color);
  width: 12px;
  height: 12px;
  gap: 1px;
  }

/* Header */

.header {
  display: flex;
  justify-content:space-between;
  justify-items: center;
  align-items: flex-start;
  margin-bottom: 32px;
}


.logo-booki {
  width: 3.8em;
  height: 1.2em;
  width: 61px;
  height: 19px;
}

.nav-header {
  display: flex;
  width: 81%;
  justify-content: right;
  gap: 8%;
}

.btn-nav-toHover {
  border: none;
  background-color: transparent;
  border-top: 3px solid transparent;
  padding-top: 14px;
}

.btn-nav-toHover:hover {
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
 }

/* search */


.search {
margin-bottom: 28px;
}

.header-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-bar-cont {
  display: flex;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

.border-icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  color: var(--main-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
}


/* search-bar */
form {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 20px;
  width: 100%;
}

.fa-solid.fa-location-dot {
border: 1px solid var(--main-bg-color);
background-color: var(--main-bg-color);
padding: 18px 18px;
border-radius: 15px 0 0 15px;
color: #000000;
font-size: 18px;
}

.fa-solid.fa-magnifying-glass {
  opacity: 0;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  padding: 16px 16px;
  border-radius:0 15px 15px 0;
  color: var(--white);
  margin-left: -10px; /* chevauche l’input légèrement */
  z-index: 1;
}

.btn-search {
  opacity: 1;
  height: 54px;
  width: 132px;
  border:1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}


.search-bar-input {
  width: 14em;
  height: 50px;
  border-radius: 0;
  border: 1px solid var(--main-bg-color);
}

.search-bar-input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}



/* Filter-bar */
.filter-bar-title{
  font-size: 18px;
  font-weight: 700;
}
.filter-bar{
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filter-item {
  flex: 0 1 auto;
  display: flex;
  width: max-content;
  align-items: center;
  max-height: 50px;
  gap: 8px;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  padding: 0 1.4em;
  background-color: var(--white);
}

.filter-item:hover {
  background-color: var(--filter-bg-color);
}

.filter-kword {
  font-size: 17px;
  font-weight: 700;
}

.fa-solid.fa-heart, .fa-solid.fa-money-bill-wave, .fa-solid.fa-person, .fa-solid.fa-fire{
font-size: 18px;
margin:0 4px;
}

/* Info Section */

.info-bar {
  display: flex;
  align-items: center;
  gap: 5px
}

.fa-solid.fa-info {
  text-align: center;
  font-size: 10px;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
  width: 65%;
  display: flex;
  flex-direction: column;

}
#hebergements .section-title {
  margin-bottom: 33px;
}

#hebergements .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 33px;
}

#hebergements .article {
  flex: 33%;
  /* Pour cumuler les % et px et dans une regle reglex la taille et le gap */
  max-width: calc(33.333% - 18px);
}

#hebergements .card {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.heber-img {
  width: 100%;
  height: 115px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}

#hebergements .card-content {
  display: flex;
  flex-direction: column;
  padding-left: 12px;

}

#hebergements .card-title {
  margin: 0 0 8px 0;
}

#hebergements .card-subtitle {
  font-size: 14px;
  padding-bottom: 7px;
}

#hebergements .card-rating {
  margin-bottom: 3px;
}


/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  font-size: 14px;
  margin: 0 0 5px 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}



/* Activités section */

#activites {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activites-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 0 30px;
}


#activites .article {
  flex: 20%;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
  border-radius: 20px;

}

.activites-img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

#activites .section-title {
  margin: 0 0 33px 30px;
}

#activites .card-title {
  margin: 18px;
}



/* Footer */

footer {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
  margin-top: 65px;
}

footer .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

footer .cards{
  display: flex;
  width: 100%;
  justify-content: flex-start;

}

footer .article {
  padding: 0 20px;
}

footer .article.last {
  padding: 0 20px;
  margin-left: 215px;
}

footer .list {
  list-style: none;
  padding: 0;
  line-height: 22px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

      /* FILTER-BAR*/
  .filter-bar {
    padding-bottom: 26px;
    gap: 0.8rem;
  }
  .filter-bar-title {
    flex-basis: 100%;
    margin: 0 0 6px 0;
  }
  .filter-item {
    padding: 13px 15px;
    margin-right: 3px;
  }


  /* HEBERGEMENT ET POPULAIRE */
  .hebergements-and-populaires {
    flex-direction: column;
    margin-bottom: 66px;
  }

  #hebergements {
    width: 100%;
  }
  #hebergements .section-title {
    margin-bottom: 28px;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 32%;
  }

  .populaires-cards .card {
    margin-top: 24px;
  }

  .populaires-cards .card-rating {
    margin-bottom: 0;
    letter-spacing: -2px;
  }

    /* ACTIVITES */
  .activites-cards {
    padding: 0 28px;
  }

  #activites .article {
    height: 270px;
  }

  .activites-img {
    max-height: 200px;
  }

  .tablet-text-container {
    display: flex;
    height: 70px;
    align-items: center;
  }

  #activites .card-title {
    margin: 0px 0px 5px 17px;
  }


       /* FOOTER */
  footer {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
    margin-top: 65px;
  }

  footer .cards{
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  footer .article.last {
    padding: 0 20px;
    margin-left: 90px;
  }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
  /* ... */

  h1 {
    margin-bottom: 3px;
  }

  .m-bot-16 {
    margin-bottom: 22px;
  }
/* OFF AUSSI */
  .section-title {
    padding: 0;
    margin: 0;
  }

  .main-container {
    padding: 0;
    min-width: 320px;

  }

    /* HEADER */

  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
  }

  .nav-header {
    width: 100%;
    gap: 0;
  }

  .btn-nav-toHover {
    padding-bottom: 16px;
    border-bottom: 3px solid var(--main-bg-color);
    width: 50%;
    text-align: center;
    flex: 1;
  }

  .btn-nav-toHover:hover {
    border-top: none;
    border-bottom: 3px solid var(--main-color);
  }

  /* SEARCH */

  .search {
    padding:0 20px;
  }

  form {
    margin: 0;
  }

  .search-bar-input {
    width: 19em;
    height: 46px;
  }
  .search-bar-input::placeholder {
    text-align: left;
    padding-left: 20px;
  }

  .fa-solid.fa-location-dot{
    height: 12px;
  }

  .btn-search {
    display: none;
  }

  .fa-solid.fa-magnifying-glass {
    opacity: 1;
    border-radius: 15px;
    position: relative;
    right: 2px;
    margin-left: -10px; /* pour couvrir l'input*/
    z-index: 1;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

    /* FILTER-BAR */

  .filter-bar {
    justify-content: space-around;
    gap: 18px 6px;
    padding: 14px 0;
    margin-bottom: 10px;
  }

  .filter-bar-title{
    margin: 0;
  }

  .filter-item {
    flex: 40%; /* 2 colonnes avec gap pris en compte */
    box-sizing: border-box;
    padding: 16px;
    max-width: 250px;
  }

  .filter-kword {
    font-size: 14px;
    font-weight: 700;
  }

  .border-icon-info {
    margin: 0;
    padding: 0 4px;
  }

  /* hebergements et populaires */

  .hebergements-and-populaires {
    flex-direction: column-reverse;
    margin-bottom: 46px;
  }

  .hebergements-and-populaires section {
    margin: 0;
    padding: 26px 20px;
    border-radius: 0;
  }

  .cards {
    flex-direction: column;
  }

  .populaires-cards, .activites-cards {
    flex-direction: column;
  }

  #hebergements .section-title {
    margin: 0;
  }

  #hebergements{
    padding: 40px 20px;
    background-color: var(--white);
  }

  #hebergements .cards{
    padding: 16px 0;
    margin-bottom: 0;
  }

  #hebergements .article{
    width: 100%;
    max-width: 100%;
  }

  .populaires-cards a{
    width: 100%;

  }

   .populaires-cards .card {
     margin-top: 15px;
   }

   /* ACTIVITES */

  .activites-cards{
    padding: 0 30px;
    gap: 13px;
  }

  #activites .section-title {
    margin: 2px 0 34px 30px;
  }

  .activites-img {
    height: 9em;
  }

  #activites .card-title {
    margin: 0px 0px 5px 20px;
  }

  .tablet-text-container {
    height: 54px;
  }

  /* FOOTER */

  footer .cards{
    align-items: flex-start;
    padding: 12px 10px;
  }

  footer .article.last {
    margin: 20px 0 0 0;
  }
}

/* end */
