/* top */
/* -Taille max des media query */
/* ok? si que des h3 */
/* Es ce que la search bar est a modifier pour le reponsive tablette? */
/* Rendre le form responsive? extensible? */


/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/* h1 {
  margin: 0;
} */

.fa-solid {
    color: var(--main-color);
}

html, body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    /* min-width: 320px; */
 }


a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.para-16px {
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
  padding: 0;
}

.margin-bot {
  margin-bottom: 18px;
 }

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
    padding-left: 0px;
}

.neutral-star {
    color: var(--main-bg-color);
    width: 12px;
    height: 12px;
    gap: 1px;
  }

/* Header */

.header {
  display: flex;
  justify-content:space-between;
  justify-items: center;
  align-items: flex-start;
  /* height: 79px; */
  margin-bottom: 32px;
}


.logo-booki {
  width: 3.8em;
  height: 1.2em;
  width: 61px;
  height: 19px;

}

.nav-header {
  display: flex;
  width: 81%;
  justify-content: right;
  gap: 6.6%;
}

.nav-header a {
  /* border-top: 3px solid transparent;
  padding-top: 6px;
  margin: 0!important; */

}

.btn-nav-toHover {
  border: none;
  background-color: transparent;
  border-top: 3px solid transparent;
  padding-top: 14px;
  margin: 0!important;
}

.btn-nav-toHover:hover {
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
 }

 .nav-header a:hover {
  /* border-top: 3px solid var(--main-color); */
}





/* search */


search {
margin-bottom: 28px;
}

.header-search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-bar-cont {
  display: flex;
  width: 100%;
}

.border-icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #D9D9D9;
  color: var(--main-color);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
}


/* search-bar */
form {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 20px;
}


.fa-solid.fa-location-dot {
border: 1px solid #F2F2F2;
background-color: #F2F2F2;
padding: 18px 18px;
border-radius: 15px 0 0 15px;
color: #000000;
margin: 0;
}

.fa-solid.fa-magnifying-glass {
  opacity: 0;
  border: 1px solid #0065FC;
  background-color: var(--main-color);
  padding: 16px 16px;
  border-radius:0 15px 15px 0;
  color: #ffffff;
  margin: 0
}

.btn-search {
  opacity: 1;
  height: 54px;
  width: 132px;
  border:1px solid #0065FC;
  border-radius: 0 15px 15px 0;
  background-color: var(--main-color);
  color: white;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  /* ... */
  .fa-solid.fa-magnifying-glass {
    opacity: 1;
    border-radius: 15px;
    position: relative;
    right: 13px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  }

  .btn-search {
  display: none;
  }
}


.search-bar-input {
  width: 190px;
  height: 50px;
  border-radius: 0;
  border: 1px solid #F2F2F2;
  /* padding: 0 10px; */

}

.search-bar-input::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}



/* Filter-bar */
.filter-bar-title{
  font-size: 18px;
  font-weight: 700;
}
.filter-bar{
  padding-bottom: 20px;
  /* display: flex;
  align-items: center;
  gap: 15px; */

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* justify-content: center; */
}

.filter-item {
  flex: 0 1 auto; /* comportement desktop */
  display: flex;
  align-items: center;
  max-height: 50px;
  gap: 8px;
  border: 2px solid #D9D9D9;
  border-radius: 25px;
  padding: 0 1.4em;
  background-color: #ffffff;
  /* width: max-content; */
}

.filter-item:hover {
  background-color: #DEEBFF;
}

.filter-kword {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
}

.fa-solid.fa-heart, .fa-solid.fa-money-bill-wave, .fa-solid.fa-person, .fa-solid.fa-fire{
font-size: 18px;
margin-left: 4px;
}





/* Info Section */

.info-bar {
  display: flex;
  align-items: center;
  gap: 5px
}

.fa-solid.fa-info {
  text-align: center;
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;

}
#hebergements .section-title {
    margin-bottom: 33px;
}

#hebergements .cards{
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-bottom: 33px;
}

#hebergements .article {
  flex: 33%;
  max-width: calc(33.333% - 18px);
}

#hebergements .card {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.heber-img {
  object-fit: cover;
  width: 100%;
  height: 115px;
  border-radius: 20px 20px 0 0;
  margin-bottom: 10px;
}
#hebergements .card-content {
  display: flex;
  flex-direction: column;
  padding-left: 12px;

}
#hebergements .card-title {
 margin: 0 0 8px 0;
}

#hebergements .card-subtitle {
  margin: 0;
  font-size: 14px;
  padding-bottom: 7px;
}
#hebergements .card-rating {
  margin-bottom: 3px;
}

#hebergements .filter-bar-title {
  margin: 0;
}




/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    font-size: 14px;
    margin: 0 0 5px 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/* Activités section */

#activites {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activites-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  padding: 0 30px;
}


#activites .article {
  flex: 20%;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 10%);
  border-radius: 20px;

}

.activites-img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

#activites .section-title {
    margin: 0 0 33px 30px;
}

#activites .card-title {
    margin: 18px;
}



/* Footer */

footer {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
  margin-top: 65px;
}

footer .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

footer .cards{
  display: flex;
  width: 100%;
  justify-content: flex-start;

}

footer .article {
  padding: 0 20px;
}

footer .article.last {
  padding: 0 20px;
  margin-left: 215px;
}

footer .list {
  list-style: none;
  padding: 0;
  line-height: 22px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
      /* HEADER */
  .filter-bar-title {
    flex-basis: 100%;
    margin: 0;
  }
  .filter-item {
    padding: 13px 15px;
    margin-right: 3px;
  }
  .filter-bar {
    padding-bottom: 30px;
  }

      /* ACTIVITES */
  .activites-cards {
    padding: 0 28px;
}
  #activites .card-title {
      margin: 13px 16px;
  }

  .activites-img {
    object-fit: cover;
    width: 100%;
    height: 206px;
    border-radius: 20px 20px 0 0;
  }

    /* HEBERGEMENT ET POPULAIRE */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    /* Commenté car ne correspond pas au design */
    /* .populaires-cards .card-title {
        font-size: 14px;
    } */

    /* .populaires-cards .card-subtitle {
        font-size: 13px;
    } */

    .populaires-cards .card {
      margin-top: 24px;
}

    .populaires-cards .card-rating {
        margin-bottom: 0;
        letter-spacing: -2px;
    }
    /* Commenté car ne correspond pas au design */
    /* .activites-cards {
        padding: 0 10px;
    }

    #activites .article {
        flex: 45%;
        max-width: calc(50% - 18px);
    }

    #activites .card-title {
        margin: 18px;
    } */

       /* FOOTER */
    footer {
      display: flex;
      width: 100%;
      background-color: var(--main-bg-color);
      margin-top: 65px;
    }

      footer .cards{
        display: flex;
        width: 100%;
        justify-content: flex-start;

      }
      footer .article.last {
        padding: 0 20px;
        margin-left: 90px;
      }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
  /* ... */

  h1 {
    margin-bottom: 3px;
  }

  .margin-bot {
    margin-bottom: 15px!important;
  }
  .header {
    /* height: 5.5em; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px;
  }

  .logo-booki {

  }

  .nav-header a {
    /* border-bottom: 1px solid transparent; */
    display: flex;
    flex: 1;
  }

  .btn-nav-toHover {
    padding-bottom: 16px;
    border-bottom: 3px solid var(--main-bg-color);
    width: 50%;
    text-align: center;
    flex: 1;
  }
  .nav-header a:hover {


  }

  .btn-nav-toHover:hover {
    border-top: none;
    border-bottom: 3px solid var(--main-color);
   }

   .nav-header {
    justify-content: space-around;
    width: 100%;
    gap: 0;
  }




  .search-bar-input {
    width: 18em;
  }
  .search-bar-input::placeholder {
    text-align: left;
    padding-left: 20px;
  }

.filter-kword {
  font-size: 14px;
  font-weight: 700;
}
}

@media (max-width: 767.98px) {

 /* main {
  width: min-content;
  box-sizing: border-box;

} */

  .cards {
    flex-direction: column;
  }
  .populaires-cards, .activites-cards {
    flex-direction: column;
  }

}

@media (max-width: 767.98px) {
html, body {
justify-content: flex-start;

}

  .main-container {
    padding: 0;

 }

 main {
  padding:0 20px;

}
}

@media (max-width: 767.98px) {
  .filter-bar {
    justify-content: space-between;
    gap: 18px 6px;
  }

  .filter-bar-title{
  }

  .filter-item {
    flex: 40%; /* 2 colonnes avec gap pris en compte */
    box-sizing: border-box;
    padding: 16px 4px;
  }
}



/* end */
